<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cruzer.healthify">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReferenceLinks"></activity>
        <activity
            android:name=".StepCounter"
            android:label="@string/title_activity_step_counter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewFood" />
        <activity android:name=".RecommendedCaloricIntake" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HowActive" />
    </application>

</manifest>